.footer_left {
  width: 30%;
  color: $fontcolor;
  img {
    height: 50px;
    margin: 0 10px;
  }
  span {
    color: $blueBorder;
    font-size: 0.8em;
  }
  p {
    font-weight: bold;
  }
}

.footer_col {
  width: calc(100% / 5);
  color: $fontcolor;
  li {
    display: list-item;
  }
  h3 {
    margin-bottom: 20px;
  }
  a {
    color: $fontcolor;
    &:hover {
      text-decoration: underline;
    }
  }
}
