// jumbotron
.jumbotron {
  width: 100%;
  padding: 50px 0;
}
// jumbo text

.jumbo_text {
  width: 50%;
}
.jumbo_text h1 {
  font-size: 2.3em;
  padding: 5px 0;
  margin: 5px 0;
  line-height: 50px;
}

.jumbo_text p {
  margin: 10px 0;
}

// buttons

button {
  background-color: $buttonBkg;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-color: $buttonBkg;
}

button img {
  height: 15px;
}

// jumbo img

.jumbo_img {
  justify-content: flex-end;
  width: 50%;
}

.jumbo_img img {
  width: 100%;
}
// fine jumbotron

// sezione 1
.info {
  width: 100%;
  padding: 30px 0;
  background-color: $pinkBkg;
  text-align: center;
}

.info_top {
  border-bottom: 1px solid #58402c;
}

.item_container {
  justify-content: space-around;
}

.item img {
  height: 100px;
  margin: 30px 0;
}

.item_bottom_container img {
  height: 250px;
}

// section 2

.row_img {
  width: 50%;
}

.row_img img {
  width: 100%;
}

.row_text {
  width: 30%;
}

.row_text p:nth-child(2) {
  margin-top: 50px;
  margin-bottom: 30px;
}

.row_text img {
  height: 300px;
  margin: 20px 30px;
}

.row.right {
  justify-content: flex-end;
}
