// jumbotron
.jumbotron {
  width: 100%;
  padding: 50px 0;
  color: $fontcolor;
}
// jumbo text

.jumbo_text {
  width: 50%;
  h1 {
    font-size: 2.3em;
    padding: 5px 0;
    margin: 5px 0;
    line-height: 50px;
  }
  p {
    margin: 10px 0;
  }
}

// buttons
.signButtons {
  button {
    background-color: $buttonBkg;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-color: $buttonBkg;
  }
  img {
    height: 15px;
  }
  a {
    color: $fontcolor;
  }
}

// jumbo img

.jumbo_img {
  justify-content: flex-end;
  width: 50%;
  img {
    width: 100%;
  }
}

// fine jumbotron

// sezione 1
#info {
  width: 100%;
  padding: 30px 0;
  background-color: $pinkBkg;
  text-align: center;
  .info_top {
    border-bottom: 1px solid white;
  }
}

.item_container {
  justify-content: space-around;
}

.item img {
  height: 100px;
  margin: 30px 0;
}

.item_bottom_container img {
  height: 250px;
}

// section 2

.row_img {
  width: 50%;
  img {
    width: 100%;
  }
}

.row_text {
  color: $fontcolor;
  width: 30%;
  p:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  img {
    height: 300px;
    margin: 20px 30px;
  }
}

.row.right {
  justify-content: flex-end;
}

// section 3

#getStarted {
  width: 100%;
  background-color: $pinkBkg;
  .started_title {
    text-align: center;
    margin-bottom: 40px;
    h2:nth-child(2) {
      display: inline;
    }
    img {
      height: 30px;
    }
  }
  h2 {
    margin: 15px;
  }
}

.started_text {
  position: relative;
  width: 60%;
  background-color: white;
  color: $fontcolor;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid $blueBorder;
  i {
    font-size: 2.3em;
    color: $blueBorder;
    position: absolute;
    top: -15px;
    left: -5px;
  }
  p {
    margin: 20px 0;
  }
  .started_btm {
    display: inline-block;
    img {
      height: 50px;
      margin: 0 10px;
    }
    span {
      color: $blueBorder;
    }
    p {
      margin: 0;
    }
  }
}

.signButtons.center {
  text-align: center;
  a {
    color: white;
  }
}
