* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #58402c;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  display: inline;
}

.flex {
  display: flex;
}

button {
  cursor: pointer;
}
