body {
  font-family: "Roboto", sans-serif;
  color: white;
}

.ms_container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.flex {
  display: flex;
}

button {
  cursor: pointer;
}

.margin_top_bottom {
  margin: 50px 0;
}

.padding_top_bottom {
  padding: 50px 0;
}
