@import "partials/utility";
@import "partials/palette";
@import "partials/header";
@import "partials/main";
@import "partials/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// mobile Phone
@media screen and(max-width:768px) {
  .ms_jumbotron,
  .row_text {
    width: 100%;
    text-align: center;
  }
  .footer_left {
    width: 100%;
  }
}
